<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name" value="Дмитрий"/>
    <add key="lastname" value="Гаргарин"/>
    <add key="thirnname" value="Станиславович"/>
    <add key="birthday" value="25.05.2000"/>
    <add key="pasport" value="3803818"/>
    <add key="phoneNumber" value="375292783083"/>
    <add key="mail" value="dgargarin@mail.ru"/>
  </appSettings>
</configuration>