<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name" value="Иван"/>
    <add key="lastname" value="Иванов"/>
    <add key="thirnname" value="Иванович"/>
    <add key="birthday" value="01.01.2000"/>
    <add key="pasport" value="1234567"/>
    <add key="phoneNumber" value="375298019282"/>
    <add key="mail" value="testmailbox@mail.ru"/>
  </appSettings>
</configuration>